<section class="index-page">
  <img class="avatar" src={{image}} alt="Photo user">
  <h2>
    Hello {{ userName }}!
  </h2>
  <a class="loginBtn" href="http://localhost:8000/auth/logout">Log out</a>
</section>